# python
*.pyc
*.pkl

Untitled-1.ipynb
test/Abuf.txt
test/Acol.txt
test/Bbuf.txt
test/Cbuf.txt
test/ctrl_info.txt
test/Dbuf.txt
.vscode/
kernel_verilog/sim/basic/Cbuf.txt
kernel_verilog/sim/basic/Abuf.txt
kernel_verilog/sim/basic/Bbuf.txt
kernel_verilog/sim/basic/Dbuf.txt
